* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(45deg, #ecac5d, white, #ecac5d);
}

header img {
    max-width: 40em;
    min-width: 70px;
    padding: 0 1em 0 2em;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

.shadow {
    text-shadow: 2px 2px 4px #800000;
}

/* Nav Menu Start ------------------------------------------------------------------------*/

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover {
    color: yellow;

}


/* Nav Menu End------------------------------------------------------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}


section {
    width: 75%;
    padding: 1em;
}

article {
    display: flex;
    border-bottom: 3px solid #931420;
    gap: 40px;
}

article div {
    width: 60%;
}

article img {
    width: 40%;
    max-width: 100%;
    height: auto;
    min-width: 70px;
    padding-bottom: 1em;
}

article h3 {
    margin-bottom: 10px;
}

aside {
    width: 25%;
    padding: 1em;
}

main {
    padding: 0 1em 0 1em;
    display: flex;
    flex-direction: row;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
    border-bottom: 3px solid #931420;

}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

aside img {
    padding-bottom: 1em;
    min-width: 70px;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:hover,
a:active {
    font-style: italic;
}

footer {
    background-color: #931420;
}

footer p {
    color: white;
    padding: 1em 0 1em 0;
    text-align: center;
}

#mobilemenu {
    display: none;
}

/* Media Query------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
    body {
        box-shadow: none;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    section,
    aside {
        width: 95%;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    article div {
        width: 100%;
    }

    article img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    section {
        order: 1;
    }

    aside {
        order: 2;
    }

    #nav_menu {
        display: none;
    }

    #mobilemenu {
        display: block;
    }

    .slicknav_menu {
        background-color: #800000;
    }

    #mobilemenu a {
        color: white;
    }
    #mobilemenu a:hover {
        color: #800000;
        font-weight: bold;
    }

    h2 {
        font-size: 200%;
    }
}

@media only screen and (max-width: 479px) {
    header {
        font-size: 95%;
    }

    section p {
        font-size: 95%;
    }

    section {
        order: 1;
    }

    aside {
        order: 2;
    }
}