* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(45deg, #ecac5d, white, #ecac5d);
}

header img {
    padding: 0 1em 0 1em;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

.shadow {
    text-shadow: 2px 2px 4px #800000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

main {
    padding: 0 1em 0 1em;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;

}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:hover,
a:active {
    font-style: italic;
}

footer {
    background-color: #931420;
}

footer p {
    color: white;
    padding: 1em 0 1em 0;
    text-align: center;
}